* { all: unset; // Desconfigurar todo para estilizar todo desde cero
}

// Colores

$rosewater: #f5e0dc;
$flamingo:  #f2cdcd;
$pink:      #f5c2e7;
$mauve:     #cba6f7;
$red:       #f38ba8;
$maroon:    #eba0ac;
$peach:     #fab387;
$yellow:    #f9e2af;
$green:     #a6e3a1;
$teal:      #94e2d5;
$saphire:   #74c7ec;
$blue:      #89b4fa;
$lavender:  #b7bdf8;
$text:      #cdd6f4;
$subtext1:  #bac2de;
$subtext0:  #a6adc8;
$surface2:  #585b70;
$surface1:  #45475a;
$surface0:  #313244;
$base:      #1e1e2e;
$mantle:    #181825;
$crust:     #11111b;

// Es la ventana que contiene toda la barra

.dock {
  padding: 0px 0px 0px 0px;
  background-color: transparent;
}

// Es la caja que contiene a los modulos left, center y right. Cambiando su color de fondo se pueden "desacoplar" los módulos

.dock_widget {
  // margin: 0px 8px 8px 0px;
  margin: 0px 0px 0px 0px;
  border-radius: 4px;
  background-color: rgba($crust, $alpha: 1);
  box-shadow: 3px 3px 5px rgba($color: #000000, $alpha: 0.5);
  color: $text;
}

.left_dock {
  background-color: $crust;
  color: $text;
}

.right_dock {
  background-color: $crust;
  color: $text;
}

// Widgets

.arch_menu {
  color: $saphire;
  font-family: Iosevka NF;
  font-weight: bold;
  font-size: 24px;
  padding: 0px 0px 0px 3px;
  margin: 4px 0px;
}

.workspaces {
  background-color: $mantle;
  font-family: Iosevka NFM;
  font-weight: bold;
  font-size: 13pt;
  padding: 4px 11px;
  margin: 0px 0px 4px 0px;
  border-radius: 4px;
}

.workspace_entry_occupied {
  color: $surface1;
  font-family: Iosevka NFM;
  font-weight: bold;
  padding: 0px 0px 0px 0px;
  border-radius: 0px;
  margin: 2px 0px;
}

.workspace_entry_current {
  color: $blue;
  font-family: Iosevka NFM;
  padding: 0px 0px 0px 0px;
  border-radius: 0px;
}

.workspace_entry_empty {
  color: $surface1;
  font-family: Iosevka NFM;
  padding: 0px 0px 0px 0px;
  border-radius: 0px;
}

.bat_good scale trough {
  all: unset;
  background-color: $base;
  min-height: 60px;
  min-width: 20px;
  border-radius: 8px;
  margin: 0px 0px 8px 0px;
}

.bat_good scale trough highlight { 
  all: unset;
  background-color: $green;
  border-radius: 8px;
}

.bat_warning scale trough {
  all: unset;
  background-color: $base;
  min-height: 60px;
  min-width: 20px;
  border-radius: 8px;
  margin: 0px 0px 8px 0px;
}

.bat_warning scale trough highlight { 
  all: unset;
  background-color: $yellow;
  border-radius: 8px;
}

.bat_bad scale trough {
  all: unset;
  background-color: $base;
  min-height: 60px;
  min-width: 20px;
  border-radius: 8px;
  margin: 0px 0px 8px 0px;
}

.bat_bad scale trough highlight { 
  all: unset;
  background-color: $maroon;
  border-radius: 8px;
}

.bat_tooltip {
  background-color: $mantle;
  color: $text;
  font-family: Iosevka NF;
  font-weight: bold;
  font-size: 11pt;
  padding: 6px;
  border-radius: 4px;
}

.filesystem_box {
  padding: 0px 0px 0px 0px;
}

.filesystem_usage {
  background-color: $base;
  color: $green;
  border-radius: 10px;
}

.filesystem_perc {
  font-size: 11pt;
  margin: 6px;
  color: $green;
}

.filesys_tooltip {
  background-color: $mantle;
  color: $text;
  font-family: Iosevka NF;
  font-weight: bold;
  font-size: 11pt;
  padding: 6px;
  border-radius: 4px;
}

.ram_box {
  margin: 0px 0px 6px 0px;
}

.ram_usage {
  background-color: $base;
  color: $blue;
}

.ram_perc {
  font-size: 11pt;
  margin: 6px;
  color: $blue;
}

.ram_tooltip {
  background-color: $mantle;
  color: $text;
  font-family: Iosevka NF;
  font-weight: bold;
  font-size: 11pt;
  padding: 6px;
  border-radius: 4px;
}

.memory {
  background-color: $mantle;
  border-radius: 6px;
  padding: 6px 4px;
  margin: 0px 4px 4px 4px;
}

.wifi_on {
  background-color: $mantle;
  font-family: Iosevka NF;
  font-weight: bold;
  font-size: 12pt;
  padding: 6px 9px 6px 9px;
  border-radius: 6px;
  margin: 0px 4px 4px 4px;

  &:hover {
    background-color: $base;
    border-radius: 4px;
  }
}

.wifi_off {
  background-color: $mantle;
  font-family: Iosevka NF;
  font-weight: bold;
  font-size: 12pt;
  padding: 6px 9px 6px 9px;
  border-radius: 6px;
  margin: 0px 4px 4px 4px;

  &:hover {
    background-color: $base;
    border-radius: 4px;
  }
}

.wifi_tooltip {
  background-color: $mantle;
  color: $text;
  font-family: Iosevka NF;
  font-weight: bold;
  font-size: 11pt;
  padding: 6px;
  border-radius: 4px;
}

.volume {
  background-color: $mantle;
  font-family: Iosevka NF;
  font-weight: bold;
  font-size: 11pt;
  padding: 4px 6px 3px 6px;
  border-radius: 6px;
  margin: 0px 4px 4px 4px;
}

.volume_icon {
  font-size: 13pt;
  padding: 1px 0px 0px 5px;
  border-radius: 0px;
}

.volume_icon_muted {
  font-size: 13pt;
  padding: 1px 0px 0px 5px;
  border-radius: 0px;
}

.util {
  background-color: $mantle;
  color: $text;
  font-family: Iosevka NF;
  font-weight: bold;
  font-size: 11pt;
  padding: 0px 0px 0px 0px;
  border-radius: 0px;
}

.time {
  font-family: Iosevka NF;
  font-weight: bold;
  font-size: 11pt;
  background-color: $mantle;
  border-radius: 6px;
  padding: 6px 10px 6px 10px;
  margin: 0px 4px 4px 4px;
}

.time_tooltip {
  background-color: $mantle;
  color: $text;
  font-family: Iosevka NF;
  font-weight: bold;
  font-size: 11pt;
  padding: 6px;
  border-radius: 4px;
}

.earphones scale trough {
  all: unset;
  background-color: $base;
  min-height: 60px;
  min-width: 20px;
  border-radius: 8px;
  margin: 0px 0px 8px 0px;
}

.earphones scale trough highlight { 
  all: unset;
  background-color: $blue;
  border-radius: 8px;
}

.ear_tooltip {
  background-color: $mantle;
  color: $text;
  font-family: Iosevka NF;
  font-weight: bold;
  font-size: 11pt;
  padding: 6px;
  border-radius: 4px;
}
